.filling {
  width: 1426px;
  margin: 0 auto;
  background-image: url("../assets/images/filling-bg.png");
  background-repeat: no-repeat;
  background-position: top -134px right;

  padding-top: 90px;
  padding-bottom: 170px;
}

.filling__inner {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 85px;

  display: flex;
  flex-direction: column;
}

.filling__title {
  font-weight: 100;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  background-image:  linear-gradient(186deg, #ffffff 49.37%,
          rgba(255, 255, 255, 0) 99.78%);
  color: transparent;
  background-clip: text;

  margin-top: 0;
  margin-bottom: 23px;
}

.filling__desc {
  width: 370px;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;

  margin-top: 0;
  margin-bottom: 32px;

  &:nth-last-of-type(1) {
    margin-bottom: 85px;
  }
}

.filling__container {
  align-self: center;
  margin-left: -30px;
}


.filling__scheme {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filling__hose {
  width: 20px;
  height: 20px;
  background-image: url("../assets/images/icons/hose.png");
}

.filling__dash {
  width: 31px;
  height: 1px;
  background-color: #949494;
  margin-left: 21px;
}

.filling__power-button {
  width: 20px;
  height: 20px;
  background-image: url("../assets/images/icons/power-button.png");
  margin-left: 17px;
}

.filling__simple {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
