.header-info {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.header-info__inner {
  width: 780px;
}

.header-info__title {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.05em;
  background-image:  linear-gradient(186deg, #ffffff 49.37%,
          rgba(255, 255, 255, 0) 99.78%);
  color: transparent;
  background-clip: text;

  margin-top: 0;
  margin-bottom: 30px;
}

.header-info__cost {
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #ffcf7a;

  margin-top: 0;
  margin-bottom: 80px;
}

.header-info__cost span {
  font-size: 18px;
}

.header-info__list {
  display: flex;
}

.header-info__item {
  padding-top: 50px ;

  background-position: top center;
  background-repeat: no-repeat;
}

.header-info__item--gear {
  width: 90px;
  background-image: url("../assets/images/icons/gear-wheel.png");
  margin-left: 5px;
  margin-right: 80px;
}

.header-info__item--plane {
  width: 120px;
  background-image: url("../assets/images/icons/plane.png");
}

.header__info__desc {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

